<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>fleetAssistant</title>
    <link rel = "icon" th:href="@{/image/automobile.png}" type = "image/x-icon">
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/custom.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"  crossorigin="anonymous"></script>
    <style>
        .btn_round{
            border-radius: 40px;
        }
    </style>
</head>
<body class="bg-light">
<nav class="navbar navbar-dark navbar-expand-md bg-dark justify-content-between">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse dual-nav w-100">
        <ul class="navbar-nav">
            <li class="nav-item">

                <a class="nav-link pl-0" href=""><svg class="bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                </svg> naprawy</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">dodaj nową naprawę</a>
            </li>
        </ul>
    </div>
    <a href="dashboard" class="navbar-brand mx-auto d-block text-center w-100 h1">fleetAssistant</a>
    <div class="navbar-collapse collapse dual-nav w-100">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-twitter"></i></a></li>
            <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-github"></i></a></li>
        </ul>
    </div>
    <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}">
        <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">Wyloguj</button>
    </form>
</nav>

<div class="container pt-4">
    <div class="text-center"><img class="mb-4" src="/image/repair.svg" alt="" width="100" height="100"></div>

    <div class="row">

        <div class="col-md-12 order-md-1">

            <hr class="mb-4">
            <h4 class="mb-3">Pojazd</h4>

            <form autocomplete="off" action="#" th:action="@{/addRepairWithVehicleChoice}"
                  th:object="${vehicleRepair}"  method="post" class="form-horizontal"
                  role="form">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="vehicle">Pojazd</label>
                        <select class="custom-select d-block w-100" id="vehicle" name="vehicle" th:field="*{vehicle}" required>
                            <option value="">Wybierz...</option>
                            <option th:each="vehicle:${vehicles}"  th:value="${vehicle.idVehicle}" th:text="${vehicle.vehicleMake.makeName + ' ' + vehicle.model + ' ' + vehicle.vehicleRegistrationNumber + ' ' + vehicle.vinNumber + ' ' + vehicle.year}"></option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">

                    </div>
                </div>

                <hr class="mb-4">
                <h4 class="mb-3">Dane naprawy</h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="title">Tytuł <span class="text-muted"></span></label>
                        <input type="text" class="form-control " id="title" name="title" placeholder="tytuł">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="repairDate">Data naprawy<span class="text-muted"></span></label>
                        <input type="date" class="form-control" id="repairDate" name="repairDate">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="repairCost">Koszt naprawy <span class="text-muted"></span></label>
                        <input type="text" class="form-control " id="repairCost" name="cost" placeholder="PLN">
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="description">Opis naprawy</label>
                            <textarea class="form-control " id="description" name="description" rows="3"></textarea>
                        </div>
                    </div>
                </div>

                <hr class="mb-4">
                <div class="row">
                    <div class="col-md-3 mb-3">

                    </div>
                    <div class="col-md-3 mb-3">
                        <button class="btn btn-primary btn-lg btn-block btn_round" type="submit">Zapisz</button>
                    </div>
                    <div class="col-md-3 mb-3">
                        <button class="btn btn-danger btn-lg btn-block btn_round" type="submit">Anuluj</button>
                    </div>
                    <div class="col-md-3 mb-3">

                    </div>
                </div>

            </form>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; Szkic</p>
    </footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

</body>
</html>
